@import "tailwindcss";

@layer components {
  #nav-theme {
    background: rgba(244, 243, 239, 0.6);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 1px solid rgba(244, 243, 239, 0.15);
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
    transition: transform 0.8s ease;
  }

  #nav {
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 9 !important;
  }

  #nav-toggle {
    transition: transform 0.8s ease;
  }

  .redact-nav {
    transform: translateX(-120%);
  }

  .redact-toggle {
    transform: translateX(-350%) rotateY(180deg);
  }

  .card {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }

  .spacer {
    aspect-ratio: 900/200;
    width: 100%;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
  }

  .homeLayer1 {
    background-image: url('assets/transitions/homeSpacer1.svg');
  }

  .homeLayer2 {
    background-image: url('assets/transitions/homeSpacer2.svg');
  }

  .homeLayer3 {
    background-image: url('assets/transitions/homeSpacer3.svg');
  }

  .tech {
    justify-items: center;
    align-items: center;
    grid-template-columns: 20% 80%;
  }

  .tech-grid {
    min-width: 30rem;
  }

  .inputBackground {
    background: rgba(95, 95, 95, 0.5);
  }
}

html {
  scroll-behavior: smooth;
  --ease-in-out: cubic-bezier(0, 1, 0, 1);
}

body {
  background-color: #f4f3ef;
  color: darkslategrey;
}

section {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  font-weight: bold;
}

@layer projects {
  #project_name {
    min-height: 100vh !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #project_name h1, h3 {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.75));
  }

  .attendanceSpacer {
    background-image: url('assets/transitions/attendance/attendanceSpacer1.svg');
  }

  .tetrisSpacer, .messagingSpacer, .bank_apiSpacer {
    background-image: url('assets/transitions/others/othersSpacer1.svg');
  }

  .projectSpacer2 {
    background-image: url('assets/transitions/attendance/attendanceSpacer2.svg');
  }

  .projectSpacer3 {
    background-image: url('assets/transitions/attendance/attendanceSpacer3.svg');
  }

  .loader {
    color: #8f988b;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }

  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em,
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }

  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }

}